* {
    background-color: #f9fdfe;
    color: #003c4d;
    font-family: Arial, sans-serif;
}

.header-class {
    background-color: #2a91c5;
    color: white;
    text-align: center;
    padding: 15px;
}

.form-group {
    margin-top: 1.5%;
    margin-bottom: 2%;
    font-size: medium;
    font-weight: bold;
}

.button-class {
    font-size: medium;
    background-color: rgb(176, 20, 36);
    margin-left: 5%;
    border: 3px solid rgb(2, 11, 1);
    color: white;
}

.footer-class {
    text-align: center;
    margin-top: 3%;
}

.error {
    color: red;
    font-size: 0.9em;
}